body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FCF9D6;
  background-color: #553659 ;
  border: 10px solid #a9e5bb;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


/*#f75D5d   muted red*/
/*#38253A  onyx dark background*/
/*fcf9d6   pale cream*/
/*a9e5bb   sea foam green*/
/*#F78847*  mango tango/
553659  grapey pineapple
 */


/*#A9E5BB*/
/*#FCF6B1*/
/*#F72C25*/
/*#2D1E2F*/
